* {
    margin:0;
    padding:0;
}

/*overall styles - body & intro*/
body {
    background-color: #0c0c0c;
    font-family: verdana;
    color: #ffffff;
    text-align: left;
    padding-left:15%;
    padding-right:15%;
    padding-top:30;
    padding-bottom:80;
}
.Intro {
    text-align: center;
}

.grouping{
    padding-right:30;
}

.About {
    padding-bottom:20;
}

/*headings*/
h1 {
    font-size: 500%;
}
h2 {
    font-size: 200%;
    padding-top: 15;
    padding-bottom: 15;
}
h3 {
    font-size: 130%;
    padding-top: 10;
    text-decoration: underline;
}

/*general*/
ul {
    padding-top: 10;
    padding-bottom: 10;
    font-size: 110%;
}
p {
    padding-top: 10;
    padding-bottom: 6;
    font-size: 110%;
}
img {
    padding-top:0;
    padding-right:5;
    padding-bottom:15;
}
a {
    color: white;
}