* {
    margin:0;
    padding:0;
}

/*overall styles - body & intro*/
body {
    background-color: #161616;
    font-family: verdana;
    color: #ffffff;
    text-align: left;
    padding-left:14%;
    padding-right:14%;
    padding-top:30;
    padding-bottom:80;
}
.Intro {
    text-align: center;
    padding-left:10%;
    padding-right:10%;
    font-size: 120%;
}

.grouping{
    padding-right:50;
    display: inline-block
}

.contact{
    padding-top: 60;
    text-align: center;
}
.contactgroup {
    padding-left: 15;
    padding-right: 15;
}

.About {
    padding-bottom:20;
    padding-top: 20;
}

.project{
    padding-top:8;
    padding-bottom:8;
}

/*headings*/
h1 {
    font-size: 350%;
}
h2 {
    font-size: 200%;
    padding-top: 30;
    padding-bottom: 15;
}
h3 {
    font-size: 130%;
    padding-top: 15;
    padding-bottom: 5;
}

/*general*/
ul {
    padding-top: 10;
    padding-bottom: 10;
    font-size: 110%;
}
p {
    padding-top: 6;
    padding-bottom: 6;
    font-size: 110%;
}
a {
    color: white;
}