* {
    margin:0;
    padding:0;
}

/*overall styles - body & intro*/
body {
    background-color: #112e70;
    font-family: verdana;
    color: #ffffff;
    text-align: left;
    padding-left:300;
    padding-right:300;
    padding-top:30;
    padding-bottom:30;
}
.Intro {
    text-align: center;
}

/*headings*/
h1 {
    font-size: 500%;
}
h2 {
    font-size: 200%;
    padding-top: 30;
}
h3 {
    font-size: 120%;
    padding-top: 10;
}

/*general*/
ul {
    padding-bottom: 10;
}
p {
    padding-top: 10;
    padding-bottom: 6;
}
img {
    padding-top:0;
    padding-right:5;
}
a {
    color: white;
}