name: Lighthouse
on:
  schedule:
    - cron: '0 14 * * 6'
jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: step-security/harden-runner@v2
        with: { egress-policy: audit }
      - name: Audit key pages
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            https://seanstilwell.ca/
            https://seanstilwell.ca/index-fr.html
          uploadArtifacts: true
          temporaryPublicStorage: true